= simple_form_for([@brewery, @batch]) do |f|
  = f.error_notification

  .form-inputs

    = render "public_facing/batches/sections/projections", :f => f

    = render "public_facing/batches/sections/brewing_day", :f => f

    = render "public_facing/batches/sections/bottling_day", :f => f

    = render "public_facing/batches/sections/conditioning_day", :f => f

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
