.page-title
  .container
    %h1.text-center
      Login

#main.container
  .row
    .col-sm-4.col-sm-offset-4
      #user_login_wrapper
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.input :email, :input_html => { :class => "form-control floatlabel" }, :label => false, required: false, :placeholder => "Email"
          .form-group
            = f.input :password, :input_html => { :class => "form-control floatlabel" }, :label => false, required: false, :placeholder => "Password"
          .form-group
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .form-actions
            .row
              .col-sm-8.col-sm-offset-2
                = f.button :submit, "Log in", :class => "btn btn-primary btn-block btn-lg"
            .text-center
              = render "users/shared/links"
