= simple_form_for(@brewery) do |f|
  = f.error_notification

  .form-inputs
    .form-group
    = f.input :name, :input_html => { :class => "form-control" }
    .form-group
    = f.input :slogan, :input_html => { :class => "form-control" }

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
