.container
  %h1
    = @brewery.name
  %p
    %b Slogan:
    = @brewery.slogan

  %p
    %b Batches
    = @brewery.batches.count

  %h3 Brewers

  %table.table
    %tr
      %th
        Email
    - @brewery.users.each do |user|
      %tr
        %td
          = user.email
  = link_to 'Edit', edit_brewery_path(@brewery)
  \|
  = link_to 'Back', breweries_path
