
/ Modal
#newBatchModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newBatchModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = simple_form_for([@brewery, @brewery.batches.new]) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#newBatchModalLabel.modal-title
            New Batch
        .modal-body
          = f.error_notification
          .form-inputs
            .form-group
              = f.input :name, :input_html => { :class => "form-control"}
            .row
              .col-sm-6
                .form-group
                  = f.label :projected_volume_in_gallons, "Vol. Estimate"
                  .input-group
                    = f.input :projected_volume_in_gallons, :input_html => { :class => "form-control" }, :label => false
                    .input-group-addon
                      gal
              .col-sm-6
                .form-group
                  = f.label :projected_alcohol_by_volume, "ABV Estimate"
                  .input-group
                    = f.input :projected_alcohol_by_volume, :input_html => { :class => "form-control" }, :label => false
                    .input-group-addon %

        .modal-footer
          .form-actions
            = f.button :submit, :class => "btn btn-primary btn-lg btn-block"