.container

  %h1
    = @batch.name
  %p
    %b Description:
    = @batch.description

  .row
    .col-sm-6
      %h3
        Projections
      %p
        %b projected_volume_in_gallons
        = pluralize(@batch.projected_volume_in_gallons, "gallon")
      %p
        %b projected_alcohol_by_volume
        = number_to_percentage(@batch.projected_alcohol_by_volume, :precision => 2)
      %p
        %b projected_original_gravity
        = @batch.projected_original_gravity
      %p
        %b projected_final_gravity
        = @batch.projected_final_gravity
      %p
        %b projected_secondary_transition_date
        = @batch.projected_secondary_transition_date
      %p
        %b projected_bottle_date
        = @batch.projected_bottle_date
      %p
        %b projected_condition_date
        = @batch.projected_condition_date
    .col-sm-6
      %h3
        Actual
      %p
        %b actual_original_gravity
        = @batch.actual_original_gravity
      %p
        %b actual_final_gravity
        = @batch.actual_final_gravity
      %p
        %b actual_alcohol_by_volume
        = @batch.actual_alcohol_by_volume
      %p
        %b actual_brew_date
        = @batch.actual_brew_date
      %p
        %b actual_secondary_transition_date
        = @batch.actual_secondary_transition_date
      %p
        %b actual_bottle_date
        = @batch.actual_bottle_date
      %p
        %b actual_condition_date
        = @batch.actual_condition_date
      %p
        %b color
        = @batch.color
      %p
        %b difficulty
        = @batch.difficulty
