.container
  .row
    .col-sm-4.col-sm-offset-4
      #user_password_change_wrapper
        %h2 Change your password
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .form-inputs
            .form-group
              = f.input :password, :input_html => { :class => "form-control floatlabel" }, :placeholder => "New Password", :label => false, required: true, autofocus: true
            .form-group
              = f.input :password_confirmation, :input_html => { :class => "form-control floatlabel" }, :placeholder => "Confirm new password", label: false, required: true
          .form-actions
            = f.button :submit, "Change my password"
        = render "users/shared/links"
