= simple_form_for(@recipe) do |f|
  = f.error_notification

  = render "public_facing/recipes/form_section/details", :f => f

  = render "public_facing/recipes/form_section/profile", :f => f

  = render "public_facing/recipes/form_section/ingredients", :f => f

  = render "public_facing/recipes/form_section/schedule", :f => f

  = render "public_facing/recipes/form_section/fermenting", :f => f

  = render "public_facing/recipes/form_section/additional", :f => f

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary"
