
/ Modal
#newRecipeModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newRecipeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = simple_form_for(Recipe.new) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#newRecipeModalLabel.modal-title
            New Homebrew Recipe
        .modal-body
          = f.error_notification
          .form-group
            = f.input :name, :input_html => { :class => "form-control" }, :label => "Recipe Name"

          .form-group
            = f.input :description, :input_html => { :class => "form-control autosize" }, :label => "Recipe Description"

          .row
            .col-sm-6
              .form-group
                = f.input :beer_style_id, collection: BeerStyle.all, :input_html => { :class => "form-control" }, :include_blank => false
            .col-sm-6
              .form-group
                = f.label :projected_volume_in_gallons, "Volume"
                .input-group
                  = f.input :projected_volume_in_gallons, :input_html => { :class => "form-control" }, :label => false
                  .input-group-addon gal
            .col-sm-6
              .form-group
                = f.input :recipe_type, collection: Recipe.recipe_types, :label_method => :last, :value_method => :first, :include_blank => false, :input_html => { :class => "form-control" }
            .col-sm-6
              .form-group
                = f.input :difficulty, collection: Recipe.difficulty_options, :label_method => :last, :value_method => :first, :include_blank => false, :input_html => { :class => "form-control"}, :label => "Recipe Difficulty"

        .modal-footer
          = f.button :submit, :class => "btn btn-primary btn-lg btn-block"