.page-title
  .container
    %a.btn.btn-primary.pull-right{:href => "", "data-target" => "#newRecipeModal", "data-toggle" => "modal", :type => "button"}
      .fa.fa-file-text-o
      New Recipe
    %h1 Recipes

#main.container
  .row
    .col-sm-3
      %h2 Beer Styles
      %ul.nav.nav-pills.nav-stacked
        - @beer_styles.each do |style|
          %li{ :class => "#{'active' if params[:style] == style.name}" }
            = link_to style.name, recipes_path(:style => style.name)
        %li= link_to "All Recipes", recipes_path
    .col-sm-9
      - if @featured_style.present?
        %h2
          = @featured_style.name
          Recipes
      -else
        %h2 All Homebrew Recipes

      %p.lead
        Browse the
        %em #{pluralize(@recipes.count, "homebrew recipe")}
        - if @featured_style.present?
          for #{@featured_style.name} beers

      .table-responsive
        %table.table.table-recipes
          %thead
            %tr
              %th Name
              %th Author
              %th Difficulty
              %th Recipe Type
              %th Volume
              %th ABV
              %th IBUs
              
          %tbody
            - @recipes.each do |recipe|
              %tr
                %td= link_to recipe.name, recipe
                %td= link_to recipe.author.name, user_recipes_path(recipe.author) if recipe.author
                %td= recipe.difficulty_as_string
                %td= recipe.recipe_type_as_string
                %td= pluralize(recipe.projected_volume_in_gallons, "gallon")
                %td= number_to_percentage(recipe.projected_alcohol_by_volume, :precision => 2)
                %td= recipe.projected_international_bittering_units
                %td= recipe.additional_notes
            %tr
              %td.text-center{ :colspan => 7}
                %br
                - if @featured_style.present?
                  = link_to "Add New #{@featured_style.name} Recipe", new_recipe_path(:beer_style => @featured_style.id), :class => "btn btn-primary"
                - else
                  = link_to "Add New Recipe", new_recipe_path, :class => "btn btn-primary"
