.page-title
  .container
    %ul.list-inline
      %li
        %h1
          New Recipe
      %li
        %h1
          %small
            By:
            =link_to current_user.name, ""

#main.container
  .row
    .col-sm-8
      = render 'form'
    .col-sm-4
      .affixable_wrapper
        #spy-nav{"data-offset-top" => "125", "data-offset-bottom" => "100", "data-spy" => "affix"}
          %ul.nav.nav-pills.nav-stacked
            %li= link_to "Beer Profile", "#projections"
            %li= link_to "Ingredients", "#brewing"
            %li= link_to "Brewing Schedule", "#bottling"
            %li= link_to "Fermenting", "#conditioning"
            %li= link_to "Additional", "#conditioning"

          .back_to_top
            = link_to "#top" do
              Back to top
