#recipe_header_wrapper.page-title
  .container
    %ul.pull-right.list-inline
      - if @recipe.author == current_user
        %li
          =link_to "Edit", edit_user_recipe_path(@recipe, :author_id => @recipe.author), :class => "btn btn-default"
      %li
        =link_to "Create Batch from Recipe", new_batch_path(:recipe => @recipe.id), :class => "btn btn-primary"

    %ul.list-inline
      %li
        %h1
          = @recipe.name
      %li
        %h1
          %small
            By:
            =link_to @recipe.author.name, user_path(@recipe.author)

#main.container
  .row
    .col-sm-4
      %h2.h2-divide Overview
      %ul.list-unstyled.list-inline.text-center
        %li= link_to @recipe.beer_style.name, beer_style_path(@recipe.beer_style)
        %li •
        %li= @recipe.recipe_type_as_string.titleize
        %li •
        %li= pluralize(@recipe.projected_volume_in_gallons, "gallon")

      %table.table.recipe_specs_table
        %tr
          %td
            OG:
            %strong
              %br
              = @recipe.projected_original_gravity
          %td
            FG:
            %strong
              %br
              = @recipe.projected_final_gravity
          %td
            IBU:
            %strong
              %br
              = @recipe.projected_international_bittering_units.round
        %tr
          %td
            ABV:
            %strong
              %br
              = number_to_percentage(@recipe.projected_alcohol_by_volume, :precision => 2)
          %td
            Difficulty:
            %strong
              %br
              = @recipe.difficulty_as_string.titleize
          %td
            Color:
            %strong
              %br
              = @recipe.color

    .col-sm-4
      %h2.h2-divide Description
      %p
        = @recipe.description

    .col-sm-4
      %h2.h2-divide Ingredients

      %ul.list-unstyled
        - @recipe.recipe_ingredients.order("ingredient_type desc").each do |ingredient|
          %li
            = pluralize(ingredient.quantity, ingredient.standard_unit_as_string)
            = ingredient.item
            %strong.small.text-uppercase
              #{ingredient.ingredient_type_as_string}

  %hr

  .row
    .col-sm-6
      %h3.h2-divide Brewing Procedure

      %p
        %b Primary Fermenting Duration:
        = @recipe.primary_fermenting_duration_in_days
        days
      - if @recipe.secondary_fermenting_duration_in_days.present?
        %p
          %b Secondary Fermenting Duration:
          = @recipe.secondary_fermenting_duration_in_days
          days

      %p
        %b Fermenting Temperature:
        #{@recipe.recommended_fermenting_temperature_in_fahrenheit}˚ F

      %p
        %b Additional notes:
        = @recipe.additional_notes
      
    .col-sm-6
      %h3.h2-divide Brewing Schedule

      %ol
        - @recipe.recipe_events.each do |event|
          %li
            = event.action
            = event.subject

      %hr

      %p.text-center
        %strong
          Total Boil Time:
          = pluralize(@recipe.total_boil_duration_in_minutes, "minute")
