#recipe_header_wrapper
  .container
    %ul.pull-right.list-inline
      %li
        =link_to "Create Batch from Recipe", "", :class => "btn btn-primary btn-sm"

    %ul.list-inline
      %li
        %h1
          = @recipe.name
      %li
        %h1
          %small
            By:
            =link_to @recipe.author.name, ""

%hr

#main.container
  %ul.list-unstyled.list-inline
    %li= link_to @recipe.beer_style.name, beer_style_path(@recipe.beer_style)
    %li •
    %li= @recipe.recipe_type_as_string.titleize
    %li •
    %li= pluralize(@recipe.projected_volume_in_gallons, "gallon")

  .row
    .col-sm-6
      %p
        = @recipe.description

      %table.table
        %tr
          %td
            %strong
              OG:
              = @recipe.projected_original_gravity
          %td
            %strong
              FG:
              = @recipe.projected_final_gravity
          %td
            %strong
              IBU:
              = @recipe.projected_international_bittering_units
        %tr
          %td
            %strong
              ABV:
              = @recipe.projected_alcohol_by_volume
          %td
            %strong
              Difficulty:
              = @recipe.difficulty
          %td
            %strong
              Color:
              = @recipe.color

    .col-sm-6
      %h2 Ingredients

      %ul.list-unstyled
        - @recipe.recipe_ingredients.order("ingredient_type desc").each do |ingredient|
          %li
            = pluralize(ingredient.quantity, ingredient.standard_unit_as_string)
            = ingredient.item
            %strong.small.text-uppercase
              #{ingredient.ingredient_type_as_string}

  %hr

  .row
    .col-sm-6
      %h3 Brewing Procedure

      %p
        %b Primary Fermenting Duration:
        = @recipe.primary_fermenting_duration_in_days
      - if @recipe.secondary_fermenting_duration_in_days.present?
        %p
          %b Secondary Fermenting Duration:
          = @recipe.secondary_fermenting_duration_in_days

      %p
        %b Fermenting Temperature:
        #{@recipe.recommended_fermenting_temperature_in_fahrenheit}˚ F

      %p
        %b Additional notes:
        = @recipe.additional_notes
      
    .col-sm-6
      %h3 Brewing Schedule

      %ol
        - @recipe.recipe_events.each do |event|
          %li
            = event.action
            = event.subject

      %p.text-center
        %strong
          Total Boil Time:
          = pluralize(@recipe.total_boil_duration_in_minutes, "minute")
