%footer.footer
  .container
    .row
      .col-sm-4
        %h4
          Brewing Resources
        %ul.list-unstyled
          %li= link_to "Beer Styles", beer_styles_path
          %li= link_to "Recipes", recipes_path
      .col-sm-4
        %h4
          Brewing Community
        %ul.list-unstyled
          %li= link_to "Breweries", breweries_path
          %li= link_to "Brewers", users_path
      .col-sm-4

    %hr

    .text-center
      © #{Time.now.year}
      = link_to "All Homebrew", root_url