!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BrewLog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = render "layouts/navigation"

    -if notice
      %span#notice.alert.alert-success= notice
    -if alert
      %span#alert.alert.alert-danger= alert

    = yield

    - if @brewery.present? and @brewery.id
      =render "batches/new_modal"