!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BrewLog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ "data-spy" => "scroll", "data-target" => "#spy-nav"}

    = render "layouts/navigation"

    -if notice
      #notice.alert.alert-success
        .container
          = notice
    -if alert
      #alert.alert.alert-danger
        .container
          = alert

    = yield

    - if @brewery.present? and @brewery.id
      =render "batches/new_modal"

    %footer.footer
      %ul.list-inline
        %li
          Brew Something Great!

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
